<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Capture Student Info</title>
</head>
<body>
<form action = "/capture" method = "post">
  <p>Enter Details</p>
  <p><input type = "text" name = "name", placeholder="Name" /></p>
  <p><input type = "text" name = "dob", placeholder="DOB" /></p>
  <p><input type = "text" name = "marks_physics", placeholder="Marks in Physics" /></p>
  <p><input type = "text" name = "marks_chemistry", placeholder="Marks in Chemistry" /></p>
  <p><input type = "text" name = "marks_maths", placeholder="Marks in Maths" /></p>
  <p><input type = "submit" value = "submit" /></p>
</form>
</body>
</html>