<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>schoolSoftv1</title>
</head>
<body>
<form action = "/select" method = "post">
    <input type="radio" id="display" name="selection" value="display">
    <label for="display">Display Student Details</label><br>
<input type="radio" id="capture" name="selection" value="capture">
    <label for="capture">Enter Student Details</label><br>
  <p><input type = "submit" value = "submit" /></p>
</form>
</body>
</html>